.home {
    display: flex;
    flex-wrap: nowrap;
    min-height: 100vh;
    background: #ffffff url("hospital_bg.png") no-repeat fixed center;
    background-size: 100%;
    background-position: top right;
    overflow: hidden;
    margin-top: 0px;
}

.mission-text {
    margin-top: 200px;
    width: 700px;
    position:relative;
    left: 50%;
    color: #029BD4;
    font-size: 70px;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgb(255, 255, 255, 90%);
    text-align: center;
}